.gradle/
.metadata/
.classpath
.project
.settings/
build/
classes/
bin/
cloud-script.txt
macro.log
temp/
*rod_script*.txt
open_stack_api_learning.txt
\#*\#
macro.log
open_stack_api_learning_2.txt
soak_test_results2.csv
soak_test_results.csv
soak_test_results.ods
cicstart/commons-daemon-1.0.15.jar
plot_maccs_server.cml
