<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>application.properties</param-name>
		<param-value>/home/roddi/cssdp/config/vfs-application.properties</param-value>
	</context-param>

	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>ca.ualberta.physics.cssdp.vfs.VfsServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>ca.ualberta.physics.cssdp.util;ca.ualberta.physics.cssdp.vfs;com.wordnik.swagger.jaxrs.listing;</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://localhost:8084/vfs</param-value>
		</init-param>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.version</param-name>
			<param-value>1.1</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.security.filter</param-name>
			<param-value>ca.ualberta.physics.cssdp.util.ApiAuthorizationFilterImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/vfs/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ApiOriginFilter</filter-name>
		<filter-class>ca.ualberta.physics.cssdp.util.ApiOriginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ApiOriginFilter</filter-name>
		<url-pattern>/vfs/*</url-pattern>
	</filter-mapping>

</web-app>